.containerForm {
  background-color: #646cff;
  width: 1480px;
  margin: 0 auto;
  padding: 32px 16px;
}

.headerForm {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  gap: 24px;
}

.inputForm {
  width: 320px;
  border-radius: 12px;
}

.submitBtn {
  background-color: #888;
  color: aquamarine;
}
